/* Mobile */
@media (max-width:768px){

nav{
    flex-direction:column;
    height:auto;
    padding:15px;
}

nav ul{
    flex-direction:column;
    gap:15px;
    margin:20px 0;
}

.hero-container,
.about,
.about-hero,
.contact-container,
.project-card,
.project-card.reverse{
    flex-direction:column;
    display:flex;
}

.hero-left,
.hero-right,
.about-image,
.about-content{
    width:100%;
    text-align:center;
}

.hero-left h1,
.hero-content h1{
    font-size:42px !important;
}

.hero-left h2,
.hero-content h2{
    font-size:22px !important;
}

.skills-container,
.skills-grid,
.experience-grid,
.course-grid,
.tool-grid,
.projects{
    grid-template-columns:1fr !important;
}

img{
    max-width:100%;
    height:auto;
}
}